
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* Pick font: https://fonts.google.com/?sort=popularity */



.App {
  /* text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;

  background-position: center;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  color: white; */

  --accent-color: black;
  --background-color: white;
  --text-color: black;
  --button-color: white;
  --button-text-color: var(--background-color);
  --transition-delay: 1s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;

  background-color: var(--background-color);
  color: var(--text-color);

  transition: var(--transition-delay);

}

.App .navigation {
  height: 100%; /* 100% Full-height */
  position: fixed; /* Stay in place */
  top: 0; /* Stay at the top */
  left: 0;

  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


.App-dark {

  --accent-color: #D0D066;
  --background-color: #333;
  --text-color: var(--text-color);
  --button-color: white;
  --button-text-color: black;



  text-align: left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;

  background-position: center;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  color: white;
}



.App-eye {

  --accent-color: #D0D066;
  --background-color: rgb(148, 69, 69);
  --text-color: var(--text-color);
  --button-color: rgb(163, 18, 18);
  --button-text-color: black;



  text-align: left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;

  background-position: center;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  color: white;
}