.Navigation {
    text-align: center;
  }
  

 .Navigation nav {
    border: solid 1px;
    padding: 1rem;
  }



  .theme-btn {
    background-color: var(--button-color);
    color: var(--text-color);
    cursor: pointer;
    padding: 1em;
    border-radius: .3em;
    border: none;
    outline: none;

    transition: var(--transition-delay);
    transform: scale(1);
  }



  .theme-btn:hover,
  .theme-btn:focus {
    transform: scale(1.1);
  }

  .sun-moon {
    fill: black;
  }

.sun {
    fill: black;
  }

.moon {
  fill: black;
}

.sunset {
  fill: black;
}