



.invocies {
    display: "flex";

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
    background: rgb(199, 89, 89);
    box-shadow: 1px 1px 50px #000;
}